In [2]:
import pandas as pd
data = pd.read_csv('social_media_data.csv')

In [3]:
# Convert date to datetime format
data['date'] = pd.to_datetime(data['date'])
data.head(3)

        date   platform post_type   likes  shares  comments   views
0 2023-05-24    Twitter     image   868.0   238.0     352.0  8836.0
1 2023-02-23    Twitter     image   944.0   610.0     146.0  5554.0
2 2023-03-18  Instagram     image  1067.0   858.0     365.0  4018.0

### Questions

1. What was the total number of likes, shares, comments, and views (for videos) over the year?

In [5]:
# 1 Total likes, shares, comments, and views for videos
video_data = data[data['post_type'] == 'video']
total_likes_videos = video_data['likes'].sum()
total_shares_videos = video_data['shares'].sum()
total_comments_videos = video_data['comments'].sum()
total_views_videos = video_data['views'].sum()

print("Total for videos:")
print(f"Likes: {total_likes_videos}")
print(f"Shares: {total_shares_videos}")
print(f"Comments: {total_comments_videos}")
print(f"Views: {total_views_videos}")

Total for videos:
Likes: 816170.0
Shares: 311040.0
Comments: 194139.0
Views: 4464731.0

2. Which platform had the highest engagement? (engagement = likes + shares + comments)

In [12]:
# 2 Platform with the highest engagement
data['engagement'] = data['likes']+data['shares'] + data['comments']
platform_engagement = data.groupby('platform')['engagement'].sum().idxmax()

print(f"Platform with the highest engagement: {platform_engagement}")

Platform with the highest engagement: Instagram

3. What was the average number of likes, shares, comments, and views per post on each platform?

In [13]:
# 3 Average likes, shares, comments, and views per post on each platform
avg_metrics = data.groupby('platform').agg({
    'likes': 'mean',
    'shares': 'mean',
    'comments': 'mean',
    'views': 'mean'
}).reset_index()
print("Average metrics per platform:")
print(avg_metrics)

Average metrics per platform:
              platform        likes      shares    comments        views
0             Facebook  1289.982428  513.141494  311.160317  6984.239234
1            Instagram  1305.837278  497.372404  301.046062  6905.875556
2  NonExistingPlatform  1150.166667  515.833333  285.500000  6729.166667
3              Twitter  1274.994152  482.437775  305.857980  7013.258065

4. What was the total number of each type of post (video, image, text) on each platform?

In [14]:
# 4 Total number of each type of post on each platform
post_counts = data.groupby(['platform', 'post_type']).size().unstack(fill_value=0)

print("Total number of each type of post on each platform:")
print(post_counts)

Total number of each type of post on each platform:
post_type            image  text  video
platform
Facebook               218   204    209
Instagram              267   203    208
NonExistingPlatform      1     3      2
Twitter                249   219    217

5. Which type of post had the highest average engagement?

In [15]:
# 5 Type of post with the highest average engagement
avg_engagement_per_post_type = data.groupby('post_type')['engagement'].mean().idxmax()

print(f"Type of post with the highest average engagement: {avg_engagement_per_post_type}")

Type of post with the highest average engagement: text

6. What was the total engagement in each quarter of the year?

In [16]:
# 6 Total engagement in each quarter of the year
data['quarter'] = data['date'].dt.to_period('Q')
quarterly_engagement = data.groupby('quarter')['engagement'].sum()

print("Total engagement in each quarter:")
print(quarterly_engagement)

Total engagement in each quarter:
quarter
2022Q4     938895.0
2023Q1    1025381.0
2023Q2    1000644.0
2023Q3     978372.0
2023Q4     192516.0
Freq: Q-DEC, Name: engagement, dtype: float64